@model int[,]

<style>
    .cell {
        width: 10px;
        height: 10px;
        float: left;
    }

    .wall {
        background-color: black;
    }

    .path {
        background-color: white;
    }

    .row {
        clear: both;
    }
</style>

<div>
    @for (int y = 0; y < Model.GetLength(0); y++)
    {
        <div class="row">
            @for (int x = 0; x < Model.GetLength(1); x++)
            {
                <div class="cell @(Model[y, x] == 1 ? "wall" : (y == 1 && x == 1 ? "start" : (y == Model.GetLength(0) - 2 && x == Model.GetLength(1) - 2 ? "end" : "path")))"></div>

            }
        </div>
    }
</div>
